.col {
  border: 1px solid gray;
  width: 50px;
  float: left;
}

.row {
  border: 1px solid gray;
  width: 50px;
  height: 50px;
}

p {
  width: 50px;
  height: 50px;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}
