<div class="col" id="col0" >
  <button name="col0" formmethod="post" formaction="/">Drop</button>
  <div class="row" id="0"></div>
  <div class="row" id="1"></div>
  <div class="row" id="2"></div>
  <div class="row" id="3"></div>
  <div class="row" id="4"></div>
  <div class="row" id="5"></div>
</div>
<div class="col" id="col1" >
  <button name="col1" formmethod="post" formaction="/">Drop</button>
  <div class="row" id="0"></div>
  <div class="row" id="1"></div>
  <div class="row" id="2"></div>
  <div class="row" id="3"></div>
  <div class="row" id="4"></div>
  <div class="row" id="5"></div>
</div>
<div class="col" id="col2" >
  <button name="col2" formmethod="post" formaction="/">Drop</button>
  <div class="row" id="0"></div>
  <div class="row" id="1"></div>
  <div class="row" id="2"></div>
  <div class="row" id="3"></div>
  <div class="row" id="4"></div>
  <div class="row" id="5"></div>
</div>
<div class="col" id="col3" >
  <button name="col3" formmethod="post" formaction="/">Drop</button>
  <div class="row" id="0"></div>
  <div class="row" id="1"></div>
  <div class="row" id="2"></div>
  <div class="row" id="3"></div>
  <div class="row" id="4"></div>
  <div class="row" id="5"></div>
</div>
<div class="col" id="col4" >
  <button name="col4" formmethod="post" formaction="/">Drop</button>
  <div class="row" id="0"></div>
  <div class="row" id="1"></div>
  <div class="row" id="2"></div>
  <div class="row" id="3"></div>
  <div class="row" id="4"></div>
  <div class="row" id="5"></div>
</div>
<div class="col" id="col5" >
  <button name="col5" formmethod="post" formaction="/">Drop</button>
  <div class="row" id="0"></div>
  <div class="row" id="1"></div>
  <div class="row" id="2"></div>
  <div class="row" id="3"></div>
  <div class="row" id="4"></div>
  <div class="row" id="5"></div>
</div>
<div class="col" id="col6" >
  <button name="col6" formmethod="post" formaction="/">Drop</button>
  <div class="row" id="0"></div>
  <div class="row" id="1"></div>
  <div class="row" id="2"></div>
  <div class="row" id="3"></div>
  <div class="row" id="4"></div>
  <div class="row" id="5"></div>
</div>

